.inc_calck{
    background: #efefef;
    padding: 20px;
    margin-bottom: 30px;  
    
}


.flat-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.calk-title{
    margin-bottom: 40px;
    text-align: center;
    color: #3bbd28;
    font-size: 22px;
}

.ceiling-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#flat-slider{
    width: 50%;
}

#ceiling-slider{
    width: 50%;
}

.left-area{
    width: 29%;
    text-align: right;
    margin-right: 10px;
}

.price_dial{
    margin-top: 40px;
}

.range-text{
    display: inline-block;
    width: 27%;
    text-align: right;
}

.slider-range{
    width: 60%;
    margin: auto 0;
    margin-right: 10%;
}

.center-area{
    width: 27%;
}


.range-wrap{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


.people{
  margin-top: 40px;
  display: flex;

}
.people p{
  width: 27%;
  text-align: right;
}

.people img{
    border: none;
    width: 60px;
}

.people-wrap{
    margin-left: 30px;
}

.price-wrap{
    margin-left: 27%;
}


#flat-area{
    width: 50px;
    border: 1px solid #3bbd28;
    padding: 2px;
}

#ceiling-height{
    width: 50px;
    border:1px solid #3bbd28;
    padding: 2px;
}

.ui-widget-header{
    background: #3bbd28;
}

.tehno{
    display: flex;
    margin-top: 40px;
}

.tehno p {
    width: 27%;
    text-align: right;
}

.tehno-wrap{
    margin: auto 0;
    margin-left: 30px;
}

.button-wrap{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    width: 140px;
    text-align: center;
    padding: 10px 20px;
    background: #1eb7e1;
    border: 1px solid #fff;
    border: none;
    transform: skew(-10deg, 0);
    color: #fff;
    font-weight: bold;
    transition: 0.3s all ease;
    font-size: 18px;
}

.button:hover{
    background: #14748e;
}




.tehno-wrap input[type="checkbox"] {
  display: none;
}
.tehno-wrap label {
  padding-left: 20px;
}
.tehno-wrap label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  border: 1px solid green;
}
input[type="checkbox"]:checked + label::before {
  content: '';
  background-size: 100%;
  background-image: url(tick.png);
}


input[type="checkbox"] {
  display: none;
}
.tehno-wrap label {
  padding-left: 20px;
}
.tehno-wrap label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  border: 1px solid green;
}
input[type="checkbox"]:checked + label::before {
  content: '';
  background-size: 100%;
  background-image: url(check.png);
}


input[type="radio"] {
  display: none;
}
.people-wrap label {
  padding-left: 20px;
}
.people-wrap label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: -10px;
  margin-right: 10px;
  border: 1px solid green;
}
input[type="radio"]:checked + label::before {
  content: '';
  background-size: 100%;
  background-image: url(check.png);
}
.calck-item-thumbmail {
    width: 30%;
}